:root {
  --color-theme: rgb(2, 176, 236);
  --color-record-center: #fff;
  --color-record-inner: #131313;
  --color-record-groove: #000;
  --color-record-outer: #000;
  --spacing-groove: 10%;

  --font-family: 'Poppins', cursive;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: contain;
}

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.turntable {
  width: clamp(25rem, 100%, 38rem);

  display: flex;
  flex-direction: column;

  padding: 3%;
  background: rgb(233, 233, 233);
  border-radius: 3px;

  box-shadow: 12px 14px 18px 2px rgb(166 161 161 / 50%);
}

.disc-container {
  width: 100%;

  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid #000;
  background: linear-gradient(45deg, #f0f0f0, #424242);
}

.disc {
  position: relative;

  aspect-ratio: 1;
  width: 91%;

  overflow: hidden;

  border-radius: 50%;

  background: repeating-radial-gradient(
    var(--color-record-inner),
    var(--color-record-groove) 2px,
    var(--color-record-groove) 2px,
    var(--color-record-inner) 4px
  );

  cursor: grab;
}

.disc.is-scratching {
  cursor: grabbing;
}

.disc__que {
  --dim: 10px;

  position: absolute;

  top: 50%;
  right: 30px;

  width: var(--dim);
  height: var(--dim);

  background: var(--color-theme);
  border-radius: 50%;
}

.disc__label {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 45%;
  aspect-ratio: 1/1;

  background: no-repeat url(/logo-invert.jpg) center center;
  background-size: cover;
  border-radius: 50%;

  pointer-events: none;
}

.disc__middle {
  --dim: 10px;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--dim);
  height: var(--dim);

  background: rgb(26, 26, 26);
  border-radius: 50%;
}

.disc__glare {
  /* width: var(--disc-dimension); */
  height: 15%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-30deg);

  background: rgba(255, 255, 255, 0.15);
  filter: blur(10px);
  pointer-events: none;
}

.controls {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.control {
  font-family: var(--font-family);
  text-transform: uppercase;
}

.button {
  border-radius: 0;
  border: none;
  background: rgb(69, 69, 69);
  font-size: 0.75rem;
  padding: 0.4rem;
  color: #fff;
  line-height: 1.3;

  cursor: pointer;

  box-shadow:
    1px 1px 0px 1px rgb(0 0 0),
    0px 0px 0px 0px var(--color-theme);

  will-change: box-shadow;
  transition:
    box-shadow 0.2s ease-out,
    transform 0.05s ease-in;
}

.button.is-active {
  transform: translate(1px, 2px);
  box-shadow: 0px 0px 5px 1px var(--color-theme);
}

.button[disabled] {
  opacity: 0.5;
}
